<div class="introduction">
	{{ with .Site.Params.wps }}
	<h4>Working papers</h4>

	{{- range $index, $wps := $.Site.Params.wps -}}
	<div class="year">{{ $wps.year }}</div>

	<ul>
		{{ range $elem_index, $wp := $wps.paper }}
		<li>
			{{ if $wp.link }}
			<a href="{{ $wp.link }}" class="publications"> {{ $wp.name }} </a>
			{{ else }}
			<p class="publications"> {{ $wp.name }}, </p>
			{{ end }}
			{{ $wp.dest | markdownify }}.

			{{ if or ($wp.code_link) $wp.blog_link }}
			<span class="code_blog">
				{{ with $wp.code_link }}
				[<a href="{{ $wp.code_link }}">code</a>]
				{{ end }}

				{{ with $wp.blog_link }}
				[<a href="{{ $wp.blog_link }}">blog</a>]
				{{ end }}
			</span>
			{{ end }}

			<span class="collaborators">
				{{ $wp.authors | markdownify }}
			</span>

			{{ with $wp.description }}
			<span class="project_description">
				{{ . | markdownify}}
			</span>
			{{ end }}

		</li>
		{{ end }}
	</ul>
	{{- end -}}
	{{- end -}}
</div>
